#map-container {
    height: 100%;
    width: 100%;
    z-index: -10;
    padding-bottom: 50px;
}

html, body {
    height: 100%;
}

body.map {
    overflow: hidden;
}

#google-map {
    width: 100%;
    height: 100%;
}

.navbar {
    margin: 0;
    border-radius: 0;
}

.navbar-brand>img {
    width: 40px;
}

.navbar-brand {
    padding: 0;
    padding-top: 5px;
    margin-right: 15px;
}

body.home {
    background-image: url('/bundles/app/img/background.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.white {
    padding: 25px;
    color: #ffffff;
    margin-top: 140px;
}

.white h1 {
    font-size: 75px;
    margin-bottom: 35px;
    font-family: 'Amatic SC', cursive;
    border: 1px solid rgba(255, 255, 255, 0.44);
    padding: 25px 0;
}

a.btn-home {
    display: block;
}
}

.gm-style img,
.img-infowindow {
    width: 100%;
}

.iw-panel {
    max-width: 400px;
    position: relative;
}
.iw-img img {
    margin: 0 auto;
    width: 100%;
    max-height: 400px;
}

.iw-content {
    background-color: #0088CC;
    color: white;
    padding: 2px 4px;
}

.iw-content a {
    color: white;
    text-decoration: underline;
}
